{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/doctor.css' %}">
</head>
<body>
<ups>
  <div style="float: left; padding-right: 5px; ">
{% load static %}
 <a href="http://127.0.0.1:8000/"><img src="{% static 'images/heal322.png' %}"/></a>
    </div>
  </ups>
<br>
{# TODO: Поле поиска #}
<form class="form-inline my-2 my-lg-0" action="{% url 'doctors' %}">
    <ram>
    <input class="form-control mr-sm-2" type="search"   placeholder="Поиск врача по фамилии" aria-label="Search" name="search">
    <button  type="submit" class="btn"><img src="{% static 'images/poisk32.png' %}" ></button>
    </ram>
</form>
<br>
<table>
    <tr style="  background: #dadada;">
        <th style="border-top-left-radius: 30px;">Фио</th>
        <th>Должность</th>
        <th>Место работы</th>
        <th style="border-top-right-radius: 30px;"></th>
    </tr >
    {% for item in paramedic %}
        <tr>
        <td>{{ item }}</td> {# TODO: Имя #}
        <td>{{ item.speciality }}</td> {# TODO: Специальность #}
        <td>{{ item.medical_facility }}</td>  {# TODO: Место работы #}
        <td><a href="http://127.0.0.1:8000/appointment/{{item.paramedic_id}}" class="btn" value="{{ item.paramedic_id }}">Назначить прием</a> </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>