{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<ups>
  <div style="float: left; padding-right: 5px; ">
{% load static %}
 <img src="{% static 'images/heal32.png' %}"/>
    </div>
  </ups>
<br>
    {% for item in paramedic %}
        {{ item }} {# TODO: Имя #}
        {{ item.speciality }} {# TODO: Специальность #}
        {{ item.medical_facility }} <br> {# TODO: Место работы #}
    {% endfor %}
</body>
</html>