{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/hospitals.css' %}">
</head>
<body>
<ups>
  <div style="float: left; padding-right: 5px; ">
{% load static %}
 <img src="{% static 'images/heal322.png' %}"/>
    </div>
  </ups>
<br>
{# TODO: Поле поиска #}
<form class="form-inline my-2 my-lg-0" action="{% url 'hospitals' %}">
    <ram>
    <input class="form-control mr-sm-2" type="search"   placeholder="Поиск медицинского учреждения" aria-label="Search" name="search">
    <button class="btn" type="submit"><img src="{% static 'images/search32.png' %}" ></button>
    </ram>
</form>
<br>
    {% for item in hospital %}
        {{ item.name }}
        <a href="profile/" class="btn">Посмотреть информацию</a>
    {% endfor %}
</body>
</html>