{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mainn.css' %}">
</head>
<body>
<ups>
    <div style="float: left; padding-right: 5px; ">
        {% load static %}
    <img  src="{% static 'images/heal322.png' %}" class="ops"/>
    </div>
</ups>
<br>
<div class="container my-4">
    {% if not user.is_authenticated %}
        <ram>
        {% load static %}
    <img src="{% static 'images/heal256.png' %}"/>
        </ram>
        <br>
        <but>
        <a href="{% url 'login' %}" class="btn">Вход</a> | <a href="{% url 'signup' %}" class="btn">Регистрация</a>
        </but>
    {% else %}
        <hello>
        Привет, {{ user.username }} | <a href="{% url 'logout' %}" class="hello_btn">Выйти</a> <br>
        </hello>
        <ram>
            <but>
                <a href="profile/" class="btn">Профиль</a>
            </but>
            <br>
            <but>
                <a href="doctors/" class="btn">Записаться к врачу</a>

            </but>
            <br>
            <but>
                <a href="hospitals/" class="btn">Посмотреть поликлиники</a>

            </but>
        </ram>
    {% endif %}
</div>
<br>
</body>
</html>
