{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>

<body>
<ram>
<div class="header">
    <p>
    <h1>Регистрация</h1>
    </p>
</div>
<div class="input">
    <form method="POST">
        {% csrf_token %}
        {{form.username}}<br>
        {{form.email}}<br>
        {{form.password1}}<br>
        {{form.password2}}<br>
        {{form.last_name}}<br>
        {{form.first_name}}<br>
        {{form.patronymic}}<br>
        {{form.passport_series}}<br>
        {{form.passport_number}}<br>
        {{form.phone}}<br>
        {{form.policy}}<br>
        {{form.insurance_number}}<br>
        {{ form.groups }}<br>
        <br>
        <input type="submit" value="Регистрация">
    </form>
</div>

{% for message in messages %}
<p type="messages" id="messages">{{message}}</p>
{% endfor %}
</ram>
<br>
Уже есть аккаунт? <a href="{% url 'login' %}" class="link">Войти</a>

<script>
    const form_fields = document.getElementsByTagName('input');
    form_fields[1].placeholder = 'Имя пользователя...';
    form_fields[2].placeholder = 'E-Mail...';
    form_fields[3].placeholder = 'Пароль...';
    form_fields[4].placeholder = 'Подтверждение пароля...';
    form_fields[5].placeholder = 'Фамилия...';
    form_fields[6].placeholder = 'Имя...';
    form_fields[7].placeholder = 'Отчество...';
    form_fields[8].placeholder = 'Серия паспорта...';
    form_fields[9].placeholder = 'Номер паспорта...';
    form_fields[10].placeholder = 'Телефон...';
    form_fields[11].placeholder = 'Номер полиса (16 цифр)...';
    form_fields[12].placeholder = 'СНИЛС (13 цифр)...';


    for (const field in form_fields) {
        form_fields[field].className += ' form-control'
    }
</script>
</body>
</html>